
body {
	font-family: 'Montserrat', sans-serif;
	background: #DCDCDC;
}

#banner{
	width: 100%;
}
h2{
		padding-top: 20px;
		margin: 0 0 0 20px;
		color:#808080;
		font-weight: bold;
		font-size: 28px;

}

h3 {
	position:absolute;
	top: 80px;
	left: 60px;
	text-transform: uppercase;
	color:#FFFF00;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	
}

nav {
	position: absolute ;
	top: 170px;
	right: 20px;
}

nav li {
	display: inline;
	margin:0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color:#FFFF00;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color:#0000FF;
	text-decoration: underline;
}


main {
	width: 940px;
	margin: 0 auto;
}


form {
	margin: 40px 0;
	font-weight: bold;
	color: #A9A9A9;


}
form label, legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;

}


.checkbox {
	margin: 20px 0;
}
.enviar {
	width: 30%;
	background:#3CB371;
	padding: 10px 0;
	color:#FFFF00;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
}
.enviar:hover {
	background: #0000FF;
	color:white;
	transition: 1s all;
	transform: scale(1.2);
}

footer {
	text-align: center;
	background: #3CB371;
	color:#FFFF00;
	padding: 40px 0;
}
