body {
	background: #DCDCDC;
}

#banner{
	width: 100%;
}
h2{
		padding-top: 20px;
		margin: 0 0 0 20px;
		color:#808080;
		font-weight: bold;
		font-size: 28px;

}

h3 {
	position:absolute;
	top: 80px;
	left: 60px;
	text-transform: uppercase;
	color:#FFFF00;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	
}

nav {
	position: absolute ;
	top: 170px;
	right: 20px;
}

nav li {
	display: inline;
	margin:0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color:#FFFF00;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color:#0000FF;
	text-decoration: underline;
}
.produtos {
	width: 1300px;
	margin: 30px auto;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 17%;
	vertical-align: top;
	padding:50px 0;
	background:#FFFFFF;
	margin: 5px auto 0 25px;
	padding: 30px 20px;
	left: 30px;
	box-sizing: border-box;
	border:2px solid #F0F8FF;
	border-radius: 10px ;	
}
.produtos li:hover{
	border-color: #DCDCDC;
	font-size: 18px;
}
.produtos h4 {
	text-align: center;
	font-size:15px;
	font-weight: bold;
}
.produto-preco {
	font-size:15px;
	font-weight: bold;
}
.produto-descricao {
	padding: 30px 0;
	color: #A9A9A9;	
}


.zoom {
	overflow: hidden;
}
.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transition: scale(1.2);
}
footer {
	text-align: center;
	background: #228B22;
	color:#FFFF00;
	padding: 40px 0;
}

